<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <title>Random Cringe Twitter Thread</title>
    </head>
    <body>
        <h1>Random Cringe Twitter Thread</h1>
        <p>In the format:</p>
        <p>Attention grabbing/clickbait-style headline</p>
        <p>B-b-b-b-b-but!</p>
        <p>10 useless ways to waste your time reading BS</p>
        <p>---</p>
        <p>---</p>
        <p>{{ first_sentence }}</p>
        <p>{{ second_sentence }}</p>
        <p>{{ third_sentence }}</p>
        <form action="/twitterthread">
            <input type="submit" value="Refresh">
        <p><a href="/">Random Quotes</a></p>

